.loadingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the message is centered vertically */
  font-size: 24px; /* Adjust the font size if needed */
  color: white; /* Make text white if you need it to be */
}
